# OPEN AI
OPEN_API_KEY=''

# Hugging face
HF_TOKEN=''

# Qdrant 
QDRANT_URL=''
QDRANT_API_KEY=''

# LangSmith
LANGCHAIN_API_KEY=''
LANGCHAIN_TRACING=true
LANGCHAIN_PROJECT=docusense-ai

# App Settings
APP_ENV=development
LOG_LEVEL=INFO